.sidebar {
  position: fixed; /* Fixed position */
  padding-top: 100px;
  top: 0; /* Stick to the top of the screen */
  left: 0; /* Stick to the left side of the screen */
  overflow-y: auto; /* Allow vertical scrolling if needed */
  width: 17%; /* Set the width */
  height: 100vh; /* Set the height to full viewport height */
  background-color: #222831; /* Background color */
  color: white; /* Text color */
}

  
  .section {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s #76ABAE;
  }
  
  .section:hover {
    background-color: #76ABAE; /* Hover color */
  }
  