body {
    margin: 0;
    padding: 0;
}

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.loginbutton {
   margin-right: '20px';
   font-size: inherit;
   margin-right: 10px;
  font-weight: 600;
  color: #fff;
}

.faq-summary {
    width: 100%; 
    margin-right: 20px;
  }
  
  .faq-accordion {
    box-shadow: none; 
    margin-bottom: 10px; 
  }
  
  .faq-details {
    padding: 20px; 
  }
  