/* .sidebar {
    width: 200px;
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add shadow to the sidebar */
  /* }
  
  .section {
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .section:hover {
    background-color: #e0e0e0;
  }
   */ 

   .sidebar {
    /* padding-right: 5%; */
    width: 17%;
    height: 100vh;
    background-color: #222831; /* Background color */
    color: white; /* Text color */
  }
  
  .section {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s #76ABAE;
  }
  
  .section:hover {
    background-color: #76ABAE; /* Hover color */
  }
  